/BucketTournamentSelection.class
/DoubleTournamentSelection.class
/LexicographicTournamentSelection.class
/ProportionalTournamentSelection.class
/RatioBucketTournamentSelection.class
/TarpeianStatistics.class
